.cnCommentRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnCommentName {
  font-size: 15px;
  font-weight: 500;
  margin-right: 5px;
}
.fa-square-minus {
  color: cadetblue;
}
