.cnUsersCardsRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.cnUsersCardsRootContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  max-width: 930px;
}

.cnUsersCardsScroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cnNoUsersCards {
  margin: auto;
  font-weight: 600;
  font-size: 30px;
}

.cnInput {
  margin-bottom: 20px;
}

.cnUsersPageLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}

@media (max-width: 780px) {
  .cnUsersCardsScroll {
    padding-top: 75px;
    padding-left: 10px;
    max-width: 780px;
  }

  .cnUsersCardsRootContent {
    padding-top: 50px;
    padding-left: 10px;
    max-width: 375px;
  }

  .cnCardsInfoUsersBox {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cnCardsInfoUsersRoot {
    width: 275px;
  }
}

@media (max-width: 375px) {
  .cnUsersCardsScroll {
    padding-top: 100px;
    padding-left: 10px;
    max-width: 300px;
  }

  .cnUsersCardsRootContent {
    padding-top: 50px;
    padding-left: 10px;
    max-width: 375px;
  }

  .cnCardsInfoUsersBox {
    display: grid;
    grid-template-columns: 1fr;
  }
}
