.cnCardsInfoUsersRoot {
  width: 600px;
  border: 1px solid rgba(61, 61, 61, 0.219);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.cnCardsInfoUsersBox {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 15px;
}

.cnCardsInfoUsersBoxAvatar {
  display: flex;
  justify-content: center;
}

.cnCardsInfoUsersBoxDescription {
  display: grid;
  justify-content: center;
}

.cnInfoUsersAvatar {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
}

.cnInfoUsersName {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.cnInfoUsersEmail {
  font-size: 16px;
  font-weight: 500;
}

.cnInfoUsersAbout {
  font-size: 16px;
  font-style: italic;
  color: gray;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(180, 180, 180);
}

@media (max-width: 780px) {
  .cnCardsInfoUsersRoot {
    width: 475px;
  }
}

@media (max-width: 375px) {
  .cnCardsInfoUsersRoot {
    width: 275px;
  }
}
