.cnDetailedCardRoot {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 1px solid rgba(61, 61, 61, 0.219);
  border-radius: 10px;
  padding: 10px;
}

.cnDetailedCardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: #fafafa;

}

.cnDetailedCardImg {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  cursor: pointer;
}

.cnDetailedCardTime {
  margin-top: 15px;
  font-size: 14px;
  padding: 10px;
}

.cnDetailedCardTags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.cnDetailedCardTags span {
  margin: 10px;
  background-color: palevioletred;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.cnDetailedCardButtons {
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.cnDetailedCardButtons i {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;

}

.cnDetailedCardLikes {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
}

.cnDetailedCardLikeIcon {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.cnDetailedCardComments {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; 
  margin-left: 10px;
}

.cnDetailedCardLikeComment {
  cursor: pointer;
  font-size: 14px;
}

.cnDetailedCardCommentTitle {
  font-size: 14px;
  color: #b3b2b2;
}


@media (min-width: 1400px) {
  .cnDetailedCardRoot {
    max-width: 600px;
  }
}

@media (max-width: 780px) {
  .cnDetailedCardRoot {
    max-width: 360px;
  }

  .cnDetailedCardTextAreaWrapper {
    max-width: 355px;
  }
}

.cnDetailedCardTags {
  font-weight: 600;
  color: rgb(3, 3, 75);
  font-size: 12px;
  
}

.cnDetailedCreatidTime {
  padding-top: 5px;
  font-size: 14px;
  color: gray;

}

.cnDetailedCardTitle {
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
}

.cnDetailedCardDescription {
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 15px;
  padding-left: 10px;
}

.cnDetailedCardTextAreaWrapper {
  margin-left: 10px;
 }