@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

.cnNavbarRoot {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0 0 10px 10px;
  background-color: #fff;

}

.cnNavbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1080px;
  margin: auto;
}

.cnNavbarLink {
  text-decoration: none;
  color: #000;
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 36px;
  color: cadetblue;
}