.cnUserPageRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  min-height: 100vh;
}

.cnUserPageRootContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 10px;
  max-width: 930px;
  position: relative;
  margin-bottom: 30px;
}

.cnUserPageScroll {
  display: flex;
  flex-wrap: wrap;
}

.cnUserPageCard {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.cnUserPageNoPosts {
  margin: auto;
  font-weight: 600;
  font-size: 30px;
}

.cnInput {
  margin-bottom: 20px;
}

.cnAndUserPostsContainer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.cnUserPageLoaderContainer {
  margin: auto;
}

@media (max-width: 980px) {
  .cnUserPageRootContent {
    max-width: 600px;
  }

  .cnUserPageScroll {
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .cnUserPageRoot {
    padding-top: 100px;
  }
  .cnUserPageScroll {
    justify-content: center;
  }

  @media (max-width: 375px) {
    .cnUserPageRoot {
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
  }
}
