.cnUserPageRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #fafafa;
}

.cnUserPageRootContent {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-left: 10px;
  width: 930px;
  margin: inherit;

}

.cnUserPageCard {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.cnUserPageScroll {
  display: flex;
  flex-wrap: wrap;
}

.cnUserPageNoPosts {
  margin: auto;
  font-weight: 600;
  font-size: 30px;
}

.cnInput {
  margin-bottom: 21px;
}

@media (max-width: 360px) {
  .cnUserPageRootContent {
    padding-top: 100px;
    padding-left: 10px;
    max-width: 350px;

  }
}

@media (max-width: 780px) {
  .cnUserPageRootContent {
    padding-top: 100px;
    padding-left: 10px;
    max-width: 680px;

  }
}