.cnBodyOverflow {
  overflow: hidden;
}

.cnModal {
  width: auto;
  height: auto;
  outline: none;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  position: fixed;
  z-index: 100;
}

.cnModalOverlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cnModalRoot {
  display: flex;
  border-radius: 10px;
}

.cnModalImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 10px;
  margin-right: 10px;
}

.cnModalImg {
  max-width: 500px;
  max-height: 500px;
}

.cnModalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  height: 30px;
}

.cnModalInfoWrapper {
  max-height: 600px;
  background: #fff;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cnModalTime {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

.cnModalTitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.cnModalDescription {
  font-size: 14px;
}

.cnModalTags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.cnModalTags span {
  box-sizing: border-box;
  font-size: 12px;
  padding: 3px 10px;
  font-weight: 600;
  background-color: palevioletred;
  border-radius: 5px;
  color: white;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.cnModalCommentsBlock {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: space-between;
}

.cnModalComments {
  height: 500px;
  border-radius: 10px;
}

.cnModalCommentsTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cnModalIcons {
  display: flex;
}

.cnModalLikeIcon {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .cnBodyOverflow {
    overflow: hidden;
  }

  .cnModal {
    max-width: 800px;
  }

  .cnModalInfoWrapper {
    max-height: 500px;
    max-width: 500px;
  }
}

@media (max-width: 780px) {
  .cnModal {
    max-width: 300px;
  }

  .cnModalRoot {
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    max-width: 300px;
  }

  .cnModalImgWrapper {
    margin: 0 auto;
    padding: 10px;
  }

  .cnModalImg {
    max-width: 220px;
    max-height: 220px;
    margin: 0 auto;
    overflow: hidden;
  }

  .cnModalHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    height: 30px;
  }

  .cnModalInfoWrapper {
    max-height: 300px;
    max-width: 300px;
  }

  .cnModalCommentsBlock {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  .cnModalComments {
    height: 500px;
    border-radius: 10px;
  }
}
@media (max-width: 375px) {
  .cnModalImgWrapper {
    max-width: 210px;
    max-height: 210px;
    margin: 0 auto;
    padding: 10px;
  }
  .cnModalInfoWrapper {
    max-height: 125px;
  }
}
